
<div class="d-flex justify-content-center">
    <h6>Channel {{ channelNumber }}</h6>
  </div>
<div class="d-flex justify-content-center p-3">
  <mv-slider
    class="vertical"
    [(value)]="dmxValue"
    [min]="1"
    [max]="255"
    [step]="1"
    [orientation]="'vertical'"
    [tooltip]="'show'"
    (change)="dmxChanged()"
  ></mv-slider>
</div>
<div class="d-flex justify-content-center">
  <input class="form-control col-lg-4" type="number" [(ngModel)]="dmxValue" [min]="1"
  [max]="255" (change)="dmxChanged()"/>
</div>
